* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

#menu-h ul {
    max-width: 100%;
    list-style: none;
    padding: 0%;
    background-color: rgba(0, 0, 0, .2);
}

#menu-h ul li {
    display: inline;
    font-size: 18px;
    position: relative;
    left: 10px;
    padding: 10px;
}

#menu-h ul li a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

#menu-h li a:hover {
    background-color: rgb(122, 45, 22);
}

#menu-h li:last-child a {
    float: right;
    background-color: rgb(122, 45, 22);
}

.container {
    display: flex;
    justify-content: center;
    
}


.tableC {
    position: relative;
    align-items: center;
    border-collapse: collapse;
    border-spacing: 30px;
    color: #fff;
    font-size: 18px;
}

.tableC td {
    border: 1px solid black;
    position: relative;
    align-items: center;
}

.tableC th {
    border: 1px solid black;
    background: #880500;
    position: relative;
    align-items: center;
}